@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$montFont: "Montserrat";
$robotoFont: "Roboto";
$lineTimeline: #f1f1f1;
$goldenColor: rgb(254,
209,
54);

body * {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


.text {
    font-family: 'Bree Serif', serif;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.hero {
    background-image: url("../images/background-hero.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 923px;


    header {
        .menu-header {
            display: flex;
            padding-top: 50px;
            align-items: center;
            .logo {
                display: flex;
                justify-content: flex-start;

                img {
                    display: inline-block;
                }
            }
            label {
                margin-right: 20px;
                font-size: 26px;
                line-height: 70px;
                display: none;
                width: 26px;
            }
            #toggle {
                display: none;
            }


            ul {
                display: flex;
                justify-content: flex-end;
                list-style-type: none;
                flex: 1;



                li {
                    display: inline-block;

                    padding: 0 20px;
                    a {
                        color: #FFF;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: 0.6s;
                        &:hover {
                            color: $goldenColor;
                        }
                    }
                }
            }
        }
    }







    .text-hero {
        h3 {
            color: white;
            font-family: 'Droid Serif';
            font-size: 50px;
            font-style: italic;
            text-align: center;
            padding-top: 90px;
        }


        h2 {
            font-family: $montFont;
            font-size: 75px;
            text-align: center;
            padding-top: 20px;
            color: white;
            font-style: italic;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .button-hero {
        display: flex;
        justify-content: center;
        button {
            border: none;
        }
    }
}

.hvr-outline-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.hvr-outline-in:before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: white solid 4px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.hvr-outline-in:hover:before,
.hvr-outline-in:focus:before,
.hvr-outline-in:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
}




.btn {
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    width: 240px;
    height: 65px;
    z-index: 231;
    font-family: $montFont;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.title-section {
    h2 {

        font-size: 40px;
        font-family: $montFont;
        color: rgb(34, 34, 34);
        text-transform: uppercase;
        line-height: 1.875;
        text-align: center;
        padding-top: 120px;
        margin: 0;
    }

    h3 {
        font-size: 16px;
        font-family: $robotoFont;
        color: rgb(119, 119, 119);
        font-style: italic;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 80px;
        margin: 0;
    }
}

.Services1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    figure {
        text-align: center;
        transition: .3s;
        margin: 0;

        &:hover {
            transform: scale(1.2);
        }
        h3 {
            font-size: 18px;
            font-family: $montFont;
            font-weight: bold;
        }
        p {
            font-size: 14px;
            font-family: "Roboto";
            font-weight: 500;
            color: rgb(119, 119, 119);
            line-height: 1.2;
            padding-bottom: 100px;
        }
    }
}



.Portfolio {
    background-color: rgb(249, 249, 249);

    .Portfolio1 {
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        flex-wrap: wrap;
        margin-top: 80px;

        img {
            width: 290px;
            height: 290px;
            margin: 0;
            padding: 0;
            transition: .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
        figure {
            max-width: 290px;
            max-height: 393px;
            margin: 0 0 50px 0;
            display: flex;
            flex-direction: column;
            background-color: white;
            overflow: hidden;

            figcaption {
                background-color: white;
                text-align: center;
                width: 290px;
                margin: auto 0;



                h2 {
                    font-family: $montFont;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 20px;
                }
                p {
                    font-size: 14px;
                    font-family: "DroidSerif";
                    color: rgb(115, 115, 115);
                    font-style: italic;
                    text-align: center;
                    padding-bottom: 15px;

                    margin-top: 0;
                }
            }
        }
    }
} //timeline
.about-us {
    display: flex;
    flex-wrap: wrap;
    .timeline {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .timeline-box {
            display: flex;
            max-width: 599px;
            width: 100%;
            .timeline-text {
                display: flex;
                flex-direction: column;
                h3 {
                    color: black;
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: -0.45px;
                    margin-bottom: 17px;
                }
                p {
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: -0.35px;
                    color: rgb(119, 119, 119);
                    line-height: 1.2;
                    font-family: "Roboto";
                }
            }


            .timeline-image-line {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 45px;
                img {
                    border: 5px solid $lineTimeline;
                    border-radius: 50%;
                    width: 169px;
                    height: 168px;
                }
                .line::after {
                    display: inline-flex;
                    content: '';
                    border: 2px solid $lineTimeline;
                    height: 97px;
                    margin-left: calc(50% - 4px);
                }
            }
        }
    }

    .timeline-left {
        justify-content: flex-start;
        .timeline-text {
            text-align: right;
        }
    }

    .timeline-right {
        justify-content: flex-end;
        .timeline-text {
            text-align: left;
        }
    }

    .timeline-center {
        justify-content: center;
        margin-bottom: 126px;
        .timeline-box-end {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 169px;
            height: 168px;
            background: $goldenColor;
            color: white;
            border: 5px solid $lineTimeline;
            border-radius: 50%;
            font-family: "Roboto";
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
            text-transform: uppercase;
            letter-spacing: -0.45px
        }
    }
}

.text-top {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
}

.text-bottom {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(119, 119, 119);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 80px;
} //Team Section
.Team {

    background-color: rgb(249, 249, 249);


    .flex-team {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        figure {
            h2 {
                text-align: center;
                font-family: $montFont;
                font-weight: Bold;
                font-size: 16px;
            }
            h4 {
                text-align: center;
                font-family: $robotoFont;
                font-size: 14px;
                color: #777777;
            }
            .Socialmedia {
                display: flex;
                justify-content: center;
                .icon-btn {
                    width: 39px;
                    height: 39px;
                    border-radius: 50%;
                    border: 3px solid rgb(34, 34, 34);
                    background-color: white;
                    margin: 0 5px;
                    cursor: pointer;

                    .fa {
                        font-size: 19px;
                        transition: 0.3s;
                    }
                    &:hover {

                        .fa-facebook {
                            color: #3b5998;
                            transform: scale(1.2);
                        }
                    }
                    &:hover {
                        .fa-twitter {
                            color: #00aced;
                            transform: scale(1.2);
                        }
                    }
                    &:hover {
                        .fa-pinterest {
                            color: #C92228;
                            transform: scale(1.2);
                        }
                    }
                    &:hover {
                        .fa-google-plus {
                            color: #dd4b39;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
    .worker-para {

        font-size: 18px;
        font-family: "RobotoSlab";
        color: rgb(119, 119, 119);
        line-height: 1.2;
        text-align: center;
        padding: 50px 0 120px 0;
    }
} //Banners Section
.flex-banner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div {
        img {
            margin: 60px 0 30px 0;
        }
    }
} //contact Section
.Contact-us {
    background-image: url("../images/backgroun-footer.png");
    background-size: cover;
    .text-top {

        font-size: 40px;
        font-family: "Montserrat";
        color: white;
        text-transform: uppercase;
        line-height: 1.875;
        text-align: center;
        padding: 100px 0 13px 0;
    }

    .text-bottom {
        font-size: 16px;
        font-family: "Roboto";
        color: rgb(119, 119, 119);
        font-style: italic;
        line-height: 1.2;
        text-align: center;
        margin-top: -40px;
        margin-bottom: 80px;
    }

    form {

        .flex-form {
            display: flex;
            justify-content: center;
            .contact-flex {
                display: flex;
                flex-direction: column;
                input {
                    width: 30vw;
                    margin: 14px;
                    height: 54px;
                    border: 1px solid rgb(204, 204, 204);
                }
                input[type="text"] {
                    font-size: 14px;
                    font-family: "Montserrat";
                    color: rgb(187, 187, 187);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                }
                input[type="email"] {
                    font-size: 14px;
                    font-family: "Montserrat";
                    color: rgb(187, 187, 187);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                }
            }
            .textarea-contact {
                textarea {
                    border-radius: 5px;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(204, 204, 204);
                    width: 30vw;
                    height: 220px;
                    margin: 0 14px;
                    font-size: 24px;
                    font-size: 14px;
                    font-family: "Montserrat";
                    color: rgb(187, 187, 187);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                }
            }
        }
    }
    .form-submit {
        display: flex;
        justify-content: center;
        input {
            margin-bottom: 115px;
            border: none;
            outline: none;
            transition: 0.6s;
            &:hover {
                background-color: transparent;
                border: 1px solid $goldenColor;
            }
        }
    }
} //Footer
.contact2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .author {
        display: flex;
        justify-content: flex-start;
        p {
            font-size: 14px;
            font-family: "Montserrat";
            color: rgb(85, 85, 85);
            line-height: 1.571;
        }
    }

    .Social-Media-footer {
        display: flex;
        justify-content: center;
        .icon-btn {
            width: 39px;
            height: 39px;
            border-radius: 50%;
            border: none;
            background-color: black;
            margin: 0 5px;
            cursor: pointer;
            &:hover {
                border: 2px solid black;
                background-color: white;
                transition: 0.3s;
                transform: scale(1.1);

                .fa {
                    color: black;
                }
            }
        }
        .fa {
            font-size: 19px;
            color: white;
        }
    }
} //Scroll-Top-Button
.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;


    .scroll {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #b2b2b2;
        background: $goldenColor;
        padding: 20px;
        text-align: center;
        margin: 0 0 0 0;
        cursor: pointer;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        &:hover {
            background: white;
            transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            border: 1px solid $goldenColor;

            .fa {
                padding-top: -10px;
                color: $goldenColor;
            }
        }

        .fa {
            font-size: 30px;
            margin-top: -5px;
            margin-left: 1px;
            transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            color: white;
            font-size: 50px;
        }
    }

    .fa-angle-up {
        font-size: 30px;
    }
}

@media(max-width: 991px) {
    .hero {
        height: auto;
        header {
            .menu-header {
                display: block;
                padding: 0;
                .logo {
                    margin: auto 0;
                    display: inline-block;
                    align-items: center;
                    margin: 20px 0 0 40px;

                    img {
                        margin-top: 20px;
                    }
                }

                label {
                    display: inline-block;
                    cursor: pointer;
                    color: white;
                    transition: 0.6s;
                    float: right;
                    font-size: 40px;
                    margin: 20px 40px 0 0;
                    &:hover {
                        color: $goldenColor;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    display: none;
                    padding-left: 0;
                    li {
                        display: block;
                        width: 100%;
                        border-bottom: 1px solid $goldenColor;
                        padding: 10px 0;

                        a {
                            text-align: center;
                            display: block;
                            font-size: 24px;
                        }
                    }
                }

                #toggle:checked+ul {
                    margin-top: 50px;
                    display: block;
                }
            }
        }
        .text-hero {
            h3 {
                padding-top: 50px;
                margin-top: 0;
                font-size: 40px;
            }
            h2 {
                font-size: 50px;
            }
        }
        .button-hero {
            button {
                margin-bottom: 80px;
                margin-top: 40px;
            }
        }
    }
    #portfolio .Portfolio1 {
        justify-content: space-around;
    }
    #about .timeline-left,
    #about .timeline-right {
        justify-content: center;
    }
    .line {
        display: none;
    }
    .Contact-us {
        width: auto;
        form {
            .flex-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .contact-flex {
                    margin: 0 auto;
                    input {
                        width: 50vw;
                    }
                }
                .textarea-contact {
                    margin: 0 auto;
                    textarea {
                        height: 220px;
                        width: 50vw;
                    }
                }
            }
            .form-submit {
                input {
                    margin-top: 30px;
                    margin-bottom: 60px;
                }
            }
        }
    }
}

@media (max-width: 640px) {


    .Services {
        .Services1 {
            .service {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    #portfolio {
        padding-bottom: 60px;
        .Portfolio1 {
            justify-content: center;
        }
    }
    #about {

        .timeline-right,
        .timeline-left {
            justify-content: center;
        }
        .timeline {
            margin: 20px 0;
            &:last-child {
                margin-bottom: 100px;
            }
            .timeline-box .timeline-image-line {
                display: none;
            }
            .timeline-text h4,
            .timeline-text p {
                text-align: center;
                padding: 0 50px;
            }
        }
    }
    .Team {
        .flex-team {
            .flex-worker {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                h1 {
                    font-size: 30px;
                }
            }
        }
        .worker-para {
            margin: 0 10px;
            padding-bottom: 60px;
        }
    }
    .Banners-section {
        .flex-banner {
            div {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
    .Contact-us {

        form {
            .flex-form {

                .contact-flex {
                    margin: 0 auto;
                    input {
                        width: 80vw;
                    }
                }
                .textarea-contact {
                    margin: 0 auto;
                    textarea {
                        width: 80vw;
                    }
                }
            }
        }
    }

    footer {
        .contact2 {
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            .Social-Media-footer {
                margin-right: 18%;
            }
        }
    }
}

@media(max-width: 420px) {
    .title-section {
        h2 {

            font-size: 34px;
            font-family: $montFont;
            color: rgb(34, 34, 34);
            text-transform: uppercase;
            line-height: 1.875;
            text-align: center;
            padding-top: 60px;
            margin: 0;
        }

        h3 {
            font-size: 16px;
            font-family: $robotoFont;
            color: rgb(119, 119, 119);
            font-style: italic;
            line-height: 1.2;
            text-align: center;
            padding-bottom: 40px;
            margin: 0;
        }
    }
}